*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    height: 100vh;
}

h1{
    background-color: rgb(55, 28, 81);
    color: white;
    font-size: 40px;
    height: 70px;
    align-content: center;
    margin-top:5vh;
}

.rockpprscissor-content-container{
    height: calc(100vh - 25vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.choices{
    margin-top : 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.choice{
   height: 150px;
   width: 150px;
   
}

.choice :hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;  
    object-fit: cover; 
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 60px;
    font-size: 30px;
}

.user-score, .comp-score{
    font-size: 50px;
}

.msg-container{
    margin-top: 60px;
}

#msgBox {
    background-color: rgb(55, 28, 81);
    color: white;
    font-size: 35px;
    display: inline;
    padding: 10px;
    border-radius: 10px;
  }
#msg{
   display: inline;
}


@media (max-width:650px){
    h1{
        font-size: 7vw;
    }
    .choices{
        width: 100%;
        gap: 4vw;
    }
    .choice{
        height: 24vw;
        width: 24vw;
    }
    img{
        height: 24vw;
        width: 24vw;
    }
    .score-board{
        width: 100%;
    }
    .score p{
        font-size: 6.5vw;
    }
    #msgBox{
        font-size: 4vw;
    }
}
